<%= form_for @scuba do |x| %>
<%= x.hidden_field :user_id, :value => @current_user.id %>
<div id="dive_num"><%= x.text_field :dive_num, placeholder:"Dive_Num" %><img src="/assets/red_qmark.png" ></img></div>
<div id="date"><%= x.text_field :date, placeholder:"Date" %><img src="/assets/red_qmark.png" ></img></div>
<div id="location"><%= x.text_field :location, placeholder:"Location" %><img src="/assets/red_qmark.png" ></img></div>
<div id="time_in"><%= x.text_field :time_in, placeholder:"Time-In" %><img src="/assets/red_qmark.png" ></img></div>
<div id="time_out"><%= x.text_field :time_out, placeholder:"Time-Out" %><img src="/assets/red_qmark.png" ></img></div>
<div id="temperature"><%= x.text_field :temperature, placeholder:"Temperature" %><img src="/assets/red_qmark.png" ></img></div>
<div id="visability"><%= x.text_field :visability, placeholder:"Visability" %><img src="/assets/red_qmark.png" ></img></div>
<div id="environment"><%= x.text_field :environment, placeholder:"Environment" %><img src="/assets/red_qmark.png" ></img></div>
<div id="salt_fresh"><%= x.select :conditions, ['Salt','Fresh'] %><img src="/assets/red_qmark.png" ></img></div>
<div id="boat_shore"><%= x.select :conditions, ['Boat','Shore'] %><img src="/assets/red_qmark.png" ></img></div>
<div id="soft_wavy"><%= x.select :conditions, ['Soft','Wavy'] %><img src="/assets/red_qmark.png" ></img></div>
<div id="hood">Hood: <%= x.check_box :protection %><img src="/assets/red_qmark.png" ></img></div>
<div id="gloves">Gloves: <%= x.check_box :protection %><img src="/assets/red_qmark.png" ></img></div>
<div id="boots">Boots: <%= x.check_box :protection %><img src="/assets/red_qmark.png" ></img></div>
<div id="vest">Vest: <%= x.check_box :protection %><img src="/assets/red_qmark.png" ></img></div>
<div id="comments"><%= x.text_area :comments, placeholder:"Comments" %><img src="/assets/red_qmark.png" ></img></div>
<%= submit_tag %>
<% end %>