<p>Drives</p>

<% @user.scubas.each do |x| %>
<div class="<%= x.id %>">
  <li><%= x.dive_num %></li>
  <li><%= x.location %></li>
  <li><%= x.time_in %></li>
  <li><%= x.time_out %></li>
  <li><%= x.temperature %></li>
  <li><%= x.visability %></li>
  <li><%= x.environment %></li>
  <li><%= x.conditionsWater %></li>
  <li><%= x.conditionsDive %></li>
  <li><%= x.conditionsWaves %></li>
  <!-- <li><%= x.protectionHood %></li>
  <li><%= x.protectionGloves %></li>
  <li><%= x.protectionBoots %></li>
  <li><%= x.protectionVest %></li> -->
  <li><%= x.comments %></li>
	<%= link_to "delete", x, :method => "delete", :remote => true %>

<script>
  jQuery(function()
  function codeAddress()
  function initialize()
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
<!-- input box -->

    <div id="panel" > <!-- style="display: none;" -->
      <input id="address" type="textbox" value="<%= x.location %>">
      <input type="button" value="Geocode" onclick="codeAddress()" id="code";>
    </div>
<div id="googleMap" style="width:1000px;height:380px;"></div>
</div>
 <% end %>

<br>
	<p><a class="btn btn-primary btn-lg" role="button" href="/scubas">Make a New Entry</a></p>
	<p><a class="btn btn-primary btn-lg" role="button" href="/signout">Signout</a></p>
