current user = 
<%= @user.name %>

<% @user.scubas.each do |x| %>
	<li><%= x.dive_num %></li>
	<li><%= x.location %></li>
	<li><%= x.time_in %></li>
	<li><%= x.time_out %></li>
	<li><%= x.temperature %></li>
	<li><%= x.visability %></li>
	<li><%= x.environment %></li>
	<li><%= x.comments %></li>

	<% end %>
	<a href="/scubas">Make a new entry?</a><br>
	<%= link_to "Sign Out", signout_path, id: "sign_out" %>